#searchtext{
	height:44;
	width:700;
	background-color:white;
	border-color:3f3f44;
	color:black;
	border-radius:9px;
	font-size: 1.2em;
	display: block;
	margin-right: auto;
	margin-left: auto;
	box-shadow: 4px 3px 3px black;
}
.whitesearch{
	background-color:white;
}
.beta{
	margin-top: -50;
	text-align: center;
	font-family: 'Architects Daughter', cursive;
	font-size: 45;
}
body{
	color:black;
	background-image: url("");
	/*background:no-repeat;*/
	background-color: white;


}
.logo{
	display: block;
	padding: 20px;
	
	margin-right: auto;
	margin-left: auto;
	margin-top: 70;
}
.white {
	background-color:white;
	color: black;

}

.linkbar{
	margin-top: 200;
}

.link{
	display: block;
	text-decoration: none;
	color:grey;
	text-align: center;
	padding: 2px;
	margin-right: auto;
	margin-left: auto;

}
.link:hover{
	color:4c4ca1;
}
.link:active{
	color:red;
}
.theme{
	display: block;
	background-color: #d6d6d6; /* Green */
  	border: none;
  	color: black;
  	padding: 15px 32px;
  	text-align: center;
  	text-decoration: none;
  	font-size: 16px;
  	border-radius:9px;
  	margin-right: auto;
	margin-left: auto;
	margin-top: 0;

}
.theme:hover{
	background-color: #c7c7c7;
}
 /*SETTINGS*/
.setbtn {
    color: white;
    padding: 16px;
    border: none;
    margin-left: 0;
    margin-right: auto;
    background-image: url("img/edit.png");
}

/* The container <div> - needed to position the dropdown content */
.setdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.setdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.setdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.setdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.setdown:hover .setdown-content {display: block;}


 /* Dropdown Button */
.dropbtn {
    color: white;
    padding: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

.menu{
	width:40;

}
.menulink{
	width: 35;
	margin-left: 5; 
}
.faqlogo{
	font-size: 50;
	margin-top: -70;
	margin-left: 250;
	font-family: 'Architects Daughter', cursive;
}
h1{
	margin-left: 50; 
}

.text-block {
    display: block;
	 background-color: #f1f1f1; 
  	border: none;
  	color: black;
  	padding: 15px 32px;
  	text-align: center;
  	text-decoration: none;
  	font-size: 20px;
  	border-radius:9px;
  	margin-right: auto;
	margin-left: auto;
	margin-top: 0;
	font-family: 'Roboto', sans-serif;
}
.justlink{
	color:white;
}
#myInput{
	border-radius: 15px;
	border: none;
	background-color: 575757;
	color:white;
}
.copy{
	border-radius: 5px;
	border:none;
}
.copy:hover{
	color: white;
	background-color: black;
}
footer{
	margin-top: 90px;
	text-align: center;
	color: #999;
}
.addico{
	width: 190;
	height: 100;
	font-size: 50;
	border: none;
	border-radius: 15px;
	text-align: center;
	margin-left: 130;
	margin-top: 50;
	background-color: #ededed;
}
.addico:hover{
	color: black;
	background-color: #d6d6d6; 
}
.title{/*ЯРЛЫКИ*/
	margin-left: 10;
	color:black;
	font-size: 26;
	background-color: #ededed;
	width: 15px;
	text-decoration: none;
	padding: 35px;
	border-radius: 9px;
	padding-top: -10;

}
.title:hover{
	color: black;
	background-color: d6d6d6; 

}

.modal {
    position: fixed; /* фиксированное положение */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5); /* цвет фона */
    z-index: 1050;
    opacity: 0; /* по умолчанию модальное окно прозрачно */
    -webkit-transition: opacity 200ms ease-in; 
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in; /* анимация перехода */
    pointer-events: none; /* элемент невидим для событий мыши */
    margin: 0;
    padding: 0;
    color: black;
}
/* при отображении модального окно */
.modal:target {
    opacity: 1; /* делаем окно видимым */
	  pointer-events: auto; /* элемент видим для событий мыши */
    overflow-y: auto; /* добавляем прокрутку по y, когда элемент не помещается на страницу */
}
/* ширина модального окна и его отступы от экрана */
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}
@media (min-width: 576px) {
  .modal-dialog {
      max-width: 500px;
      margin: 30px auto; /* для отображения модального окна по центру */
  }
}
/* свойства для блока, содержащего контент модального окна */ 
.modal-content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}
@media (min-width: 768px) {
  .modal-content {
      -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
      box-shadow: 0 5px 15px rgba(0,0,0,.5);
  }
}
/* свойства для заголовка модального окна */
.modal-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #eceeef;
}
.modal-title {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 1.25rem;
    font-weight: 500;
}
/* свойства для кнопки "Закрыть" */
.close {
    float: right;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    text-decoration: none;
}
/* свойства для кнопки "Закрыть" при нахождении её в фокусе или наведении */
.close:focus, .close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .75;
}
/* свойства для блока, содержащего основное содержимое окна */
.modal-body {
  position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 15px;
    overflow: auto;
}
.addurlform{
	display: block;
	width: 450;
	margin-right: auto;
	margin-left: auto;
}

.wipedata{
	display: block;
	width: 200;
	height: 40;
	font-size: 15;
	border: none;
	border-radius: 15px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15;
	background-color: #d6d6d6;

}
.wipedata:hover{
	background-color: f03030;
	color: white;
}
.chooseSearch{
	width: 130;
	height: 44;
	border-radius: 9px;
	text-align: center;
	display: block;
	margin-right: auto;
	margin-left: auto;
	border-color:3f3f44;

}
.hidden-menu {
  display: block;
  position: fixed;
  list-style:none;
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
  width: 400px;
  background-color:#d6d6d6;
  height: 100%;
  top: 0;
  right: -400px;
  transition: left .2s;
  z-index: 2;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  text-align: center;
}
.hidden-menu-ticker {
  display: none;
}
.btn-menu {
  color: #d6d6d6;
  background-color: #d6d6d6;
  padding: 5px;
  position: fixed;
  top: 5px;
  right: 5px;
  cursor: pointer;
  transition: right .23s;
  z-index: 3;
  width: 30px;
  height: 25px;
}
.btn-menu span {
  display: block;
  height: 5px;
  background-color: #fff;
  margin: 5px 0 0;
  transition: all .1s linear .23s;
  position: relative;
}
.btn-menu span.first {
  margin-top: 0;
}

.hidden-menu-ticker:checked ~ .btn-menu {
  right:  350px;
}
.hidden-menu-ticker:checked ~ .hidden-menu {
  right:  0;
}
.hidden-menu-ticker:checked ~ .btn-menu span.first {
  -webkit-transform: rotate(45deg);
  top: 10px;
}
.hidden-menu-ticker:checked ~ .btn-menu span.second {
  opacity: 0;
}
.hidden-menu-ticker:checked ~ .btn-menu span.third {
  -webkit-transform: rotate(-45deg);
  top: -10px;
}
.icons{
	width: 40px;
	margin-left: -30;
	margin-bottom: 20;
}
.editbtn{
	width: 28;
}
.upload{
	border-radius: 15px;
	border: none;
	background-color: white;
	padding: 10;
}
.upload:hover{
	background-color: grey;
}
.upload:active{
	background-color: red;
}
input[type="file"] {
    margin-top: 15;
}
[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  outline: 2px solid #f00;
}