#searchtext{
	height:44;
	width:700;
	background-color:white;
	border-color:3f3f44;
	color:grey;
	border-radius:9px;
	font-size: 1.2em;
	display: block;
	margin-right: auto;
	margin-left: auto;
}
.whitesearch{
	background-color:white;
}
.beta{
	margin-top: -120;
	text-align: center;
	font-family: 'Architects Daughter', cursive;
	font-size: 45;
}
body{
	color:white;
	background-color: #2A2A2E;

}
.logo{
	display: block;
	padding: 50px;
	
	margin-right: auto;
	margin-left: auto;
}
.white {
	background-color:white;
	color: black;

}

.link{
	display: block;
	text-decoration: none;
	color:grey;
	text-align: center;
	padding: 16px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 400;

}
.link:hover{
	color:cyan;
}
.link:active{
	color:red;
}
.theme{
	display: block;
	background-color: #3f3f44; /* Green */
  	border: none;
  	color: white;
  	padding: 15px 32px;
  	text-align: center;
  	text-decoration: none;
  	font-size: 16px;
  	border-radius:9px;
  	margin-right: auto;
	margin-left: auto;
	margin-top: 0;

}
.theme:hover{
	background-color: grey;
}
 /* Dropdown Button */
.dropbtn {
    color: white;
    padding: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

.menu{
	width:40;

}
.menulink{
	width: 35;
	margin-left: 5; 
}
.faqlogo{
	font-size: 50;
	margin-top: -70;
	margin-left: 250;
	font-family: 'Architects Daughter', cursive;
}
h1{
	margin-left: 50; 
}

.text-block {
    display: block;
	background-color: #3f3f44; 
  	border: none;
  	color: white;
  	padding: 15px 32px;
  	text-align: center;
  	text-decoration: none;
  	font-size: 23px;
  	border-radius:9px;
  	margin-right: auto;
	margin-left: auto;
	margin-top: 0;
	font-family: 'Roboto', sans-serif;
}
.justlink{
	color:white;
}
#myInput{
	border-radius: 15px;
	border: none;
	background-color: 575757;
	color:white;
}
.copy{
	border-radius: 5px;
	border:none;
}
.copy:hover{
	color: white;
	background-color: black;
}
footer{
	margin-top: 90px;
	text-align: center;
	color: grey;
}